/* header  */
.header {
    background-color: #f5f5f5;
}

.header__title {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.header__description {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* hero  */
.hero {
    background-color: #f5f5f5;
}

.hero__button {
    border: none;
    width: 189px;
    height: 40px;
    border-radius: 30px;
    background-color: #6F2CFF;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    font-family: Roboto;
}

.btn-demo {
    width: 187px;
    height: 40px;
    border-radius: none;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px #6F2CFF;
    color: #6F2CFF;
}

/* industry  */

.industry__title {
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}

.industry__description {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #000;
}

.industry__box {
    width: 492.857px;
    height: 199px;
    border-radius: 8px 10px 10px 8px;
    background: #17002E;
}

.industry__subtitle {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    color: #F5F5F5;
}

.industry__box__text {
    width: 407.143px;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #F5F5F5;
}

.industry__box__line {
    width: 383px;
    height: 2px;
    flex-shrink: 0;
    background: #F5F5F5;
}